<div>
    <h2 data-translate="adapGatewayApp.activitymbr.home.title">Activitymbrs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="activitymbr.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="adapGatewayApp.activitymbr.home.createLabel">
                        Create new Activitymbr
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'adapGatewayApp.activitymbr.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="adapGatewayApp.activitymbr.activity">Activity</span></th>
                    <th><span data-translate="adapGatewayApp.activitymbr.project">Project</span></th>
                    <th><span data-translate="adapGatewayApp.activitymbr.asset">Asset</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activitymbr in vm.activitymbrs track by activitymbr.id">
                    <td><a ui-sref="activitymbr-detail({id:activitymbr.id})">{{activitymbr.id}}</a></td>
                    <td>
                        <a ui-sref="activity-detail({id:activitymbr.activity.id})">{{activitymbr.activity.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="project-detail({id:activitymbr.project.id})">{{activitymbr.project.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="asset-detail({id:activitymbr.asset.id})">{{activitymbr.asset.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="activitymbr-detail({id:activitymbr.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="activitymbr.edit({id:activitymbr.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="activitymbr.delete({id:activitymbr.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
