
<form name="editForm" role="form" novalidate ng-submit="vm.save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myAlertLabel"
			translate="adapGatewayApp.alert.home.createOrEditLabel">Create
			or edit a Alert</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" ng-show="vm.alert.id">
			<label for="id" translate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id"
				ng-model="vm.alert.id" readonly />
		</div>
		<div class="form-group">
			<label class="control-label" translate="adapGatewayApp.alert.name"
				for="field_name">Name</label> <input type="text"
				class="form-control" name="name" id="field_name"
				ng-model="vm.alert.name" ng-maxlength="100" />
			<div ng-show="editForm.name.$invalid">
				<p class="help-block" ng-show="editForm.name.$error.maxlength"
					translate="entity.validation.maxlength" translate-value-max="100">
					This field cannot be longer than 100 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				translate="adapGatewayApp.alert.description" for="field_description">Description</label>
			<input type="text" class="form-control" name="description"
				id="field_description" ng-model="vm.alert.description"
				ng-maxlength="255" />
			<div ng-show="editForm.description.$invalid">
				<p class="help-block"
					ng-show="editForm.description.$error.maxlength"
					translate="entity.validation.maxlength" translate-value-max="255">
					This field cannot be longer than 255 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				translate="adapGatewayApp.alert.category" for="field_category">Category</label>
			<input type="text" class="form-control" name="category"
				id="field_category" ng-model="vm.alert.category" ng-maxlength="50" />
			<div ng-show="editForm.category.$invalid">
				<p class="help-block" ng-show="editForm.category.$error.maxlength"
					translate="entity.validation.maxlength" translate-value-max="50">
					This field cannot be longer than 50 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				translate="adapGatewayApp.alert.subcategory" for="field_subcategory">Subcategory</label>
			<input type="text" class="form-control" name="subcategory"
				id="field_subcategory" ng-model="vm.alert.subcategory"
				ng-maxlength="50" />
			<div ng-show="editForm.subcategory.$invalid">
				<p class="help-block"
					ng-show="editForm.subcategory.$error.maxlength"
					translate="entity.validation.maxlength" translate-value-max="50">
					This field cannot be longer than 50 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" translate="adapGatewayApp.alert.subtype"
				for="field_subtype">Subtype</label> <input type="text"
				class="form-control" name="subtype" id="field_subtype"
				ng-model="vm.alert.subtype" ng-maxlength="50" />
			<div ng-show="editForm.subtype.$invalid">
				<p class="help-block" ng-show="editForm.subtype.$error.maxlength"
					translate="entity.validation.maxlength" translate-value-max="50">
					This field cannot be longer than 50 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" translate="adapGatewayApp.alert.type"
				for="field_type">Type</label> <input type="text"
				class="form-control" name="type" id="field_type"
				ng-model="vm.alert.type" ng-maxlength="50" />
			<div ng-show="editForm.type.$invalid">
				<p class="help-block" ng-show="editForm.type.$error.maxlength"
					translate="entity.validation.maxlength" translate-value-max="50">
					This field cannot be longer than 50 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				translate="adapGatewayApp.alert.startdatetime"
				for="field_startdatetime">Startdatetime</label>
			<div class="input-group">
				<input id="field_startdatetime" type="text" class="form-control"
					name="startdatetime" datetime-picker="{{dateformat}}"
					ng-model="vm.alert.startdatetime"
					is-open="vm.datePickerOpenStatus.startdatetime" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('startdatetime')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				translate="adapGatewayApp.alert.enddatetime" for="field_enddatetime">Enddatetime</label>
			<div class="input-group">
				<input id="field_enddatetime" type="text" class="form-control"
					name="enddatetime" datetime-picker="{{dateformat}}"
					ng-model="vm.alert.enddatetime"
					is-open="vm.datePickerOpenStatus.enddatetime" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('enddatetime')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" translate="adapGatewayApp.alert.status"
				for="field_status">Status</label> <input type="text"
				class="form-control" name="status" id="field_status"
				ng-model="vm.alert.status" required ng-maxlength="25" />
			<div ng-show="editForm.status.$invalid">
				<p class="help-block" ng-show="editForm.status.$error.required"
					translate="entity.validation.required">This field is required.
				</p>
				<p class="help-block" ng-show="editForm.status.$error.maxlength"
					translate="entity.validation.maxlength" translate-value-max="25">
					This field cannot be longer than 25 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				translate="adapGatewayApp.alert.lastmodifiedby"
				for="field_lastmodifiedby">Lastmodifiedby</label> <input type="text"
				class="form-control" name="lastmodifiedby" id="field_lastmodifiedby"
				ng-model="vm.alert.lastmodifiedby" required ng-maxlength="50" />
			<div ng-show="editForm.lastmodifiedby.$invalid">
				<p class="help-block"
					ng-show="editForm.lastmodifiedby.$error.required"
					translate="entity.validation.required">This field is required.
				</p>
				<p class="help-block"
					ng-show="editForm.lastmodifiedby.$error.maxlength"
					translate="entity.validation.maxlength" translate-value-max="50">
					This field cannot be longer than 50 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				translate="adapGatewayApp.alert.lastmodifieddatetime"
				for="field_lastmodifieddatetime">Lastmodifieddatetime</label>
			<div class="input-group">
				<input id="field_lastmodifieddatetime" type="text"
					class="form-control" name="lastmodifieddatetime"
					datetime-picker="{{dateformat}}"
					ng-model="vm.alert.lastmodifieddatetime"
					is-open="vm.datePickerOpenStatus.lastmodifieddatetime" required />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('lastmodifieddatetime')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
			<div ng-show="editForm.lastmodifieddatetime.$invalid">
				<p class="help-block"
					ng-show="editForm.lastmodifieddatetime.$error.required"
					translate="entity.validation.required">This field is required.
				</p>
				<p class="help-block"
					ng-show="editForm.lastmodifieddatetime.$error.ZonedDateTimelocal"
					translate="entity.validation.ZonedDateTimelocal">This field
					should be a date and time.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label" translate="adapGatewayApp.alert.domain"
				for="field_domain">Domain</label> <input type="text"
				class="form-control" name="domain" id="field_domain"
				ng-model="vm.alert.domain" required ng-maxlength="25" />
			<div ng-show="editForm.domain.$invalid">
				<p class="help-block" ng-show="editForm.domain.$error.required"
					translate="entity.validation.required">This field is required.
				</p>
				<p class="help-block" ng-show="editForm.domain.$error.maxlength"
					translate="entity.validation.maxlength" translate-value-max="25">
					This field cannot be longer than 25 characters.</p>
			</div>
		</div>

		
		<!-- REPLACE THIS  THIS WITH WORKING SELECT CLASS BELOW -->
		<div class="form-group">
			<label class="control-label"
				translate="adapGatewayApp.alert.asset_id" for="field_assetid">Asset
				Id</label> <input type="text" class="form-control" name="asset_id"
				id="field_assetid" ng-model="vm.alert.asset_id"
		</div>
		
		<!-- KEEP THIS -->
		THIS LIST DOES NOT SAVE. 
		 <div class="form-group">
            <label data-translate="adapGatewayApp.alert.asset_id" for="field_asset_id">Asset_id</label>
            <select class="form-control" id="field_asset_id" name="asset_id" ng-model="vm.alert.asset_id" ng-options="asset as asset.name for asset in vm.assets track by asset.id" required>
                <option value=""></option>
            </select>
        </div>
		
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal"
				ng-click="vm.clear()">
				<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
					translate="entity.action.cancel">Cancel</span>
			</button>
			<button type="submit" ng-disabled="editForm.$invalid || isSaving"
				class="btn btn-primary">
				<span class="glyphicon glyphicon-save"></span>&nbsp;<span
					translate="entity.action.save">Save</span>
			</button>
		</div>
</form>
