<div>
    <h2 translate="adapGatewayApp.alert.home.title">Alerts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="alert.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="adapGatewayApp.alert.home.createLabel">
                        Create new Alert
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'adapGatewayApp.alert.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="adapGatewayApp.alert.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="adapGatewayApp.alert.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category"><span translate="adapGatewayApp.alert.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subcategory"><span translate="adapGatewayApp.alert.subcategory">Subcategory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subtype"><span translate="adapGatewayApp.alert.subtype">Subtype</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span translate="adapGatewayApp.alert.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startdatetime"><span translate="adapGatewayApp.alert.startdatetime">Startdatetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enddatetime"><span translate="adapGatewayApp.alert.enddatetime">Enddatetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="adapGatewayApp.alert.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifiedby"><span translate="adapGatewayApp.alert.lastmodifiedby">Lastmodifiedby</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifieddatetime"><span translate="adapGatewayApp.alert.lastmodifieddatetime">Lastmodifieddatetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="domain"><span translate="adapGatewayApp.alert.domain">Domain</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alert in vm.alerts track by alert.id">
                    <td><a ui-sref="alert-detail({id:alert.id})">{{alert.id}}</a></td>
                    <td>{{alert.name}}</td>
                    <td>{{alert.description}}</td>
                    <td>{{alert.category}}</td>
                    <td>{{alert.subcategory}}</td>
                    <td>{{alert.subtype}}</td>
                    <td>{{alert.type}}</td>
                    <td>{{alert.startdatetime | date:'medium'}}</td>
                    <td>{{alert.enddatetime | date:'medium'}}</td>
                    <td>{{alert.status}}</td>
                    <td>{{alert.lastmodifiedby}}</td>
                    <td>{{alert.lastmodifieddatetime | date:'medium'}}</td>
                    <td>{{alert.domain}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="alert-detail({id:alert.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="alert.edit({id:alert.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="alert.delete({id:alert.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
