<div class="row  border-bottom white-bg dashboard-header">
	<div class="col-sm-3">
		<h2>Program Blueberry Scone XXX</h2>
		<!-- <small>{{ 'MESSAGEINFO' | translate }}</small> -->
		<div class="row m-t-xs">
			<div class="col-xs-6">
				<h5 class="m-b-xs">Demands current year</h5>
				<h1 class="no-margins">160,000</h1>
				<div class="font-bold text-navy">
					98% <i class="fa fa-bolt"></i>
				</div>
			</div>
			<div class="col-xs-6">
				<h5 class="m-b-xs">Demands last year</h5>
				<h1 class="no-margins">42,120</h1>
				<div class="font-bold text-navy">
					98% <i class="fa fa-bolt"></i>
				</div>
			</div>
		</div>

		<table class="table small m-t-sm">
			<tbody>
				<tr>
					<td><strong>{{projects.length}}</strong> Projects</td>
					<td><strong>22</strong> Messages</td>

				</tr>
				<tr>
					<td><strong>61</strong> Comments</td>
					<td><strong>54</strong> Articles</td>
				</tr>
				<tr>
					<td><strong>154</strong> Companies</td>
					<td><strong>32</strong> Clients</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="col-sm-6">

		<div class="tabs-container">
			<ul class="nav nav-tabs">
				<!-- <span class="pull-right small text-muted">1406 Elements</span> -->
				<li ng-class="{'active' : tab == 1}"><a ng-click="tab = 1"
					ng-init="tab = 1"><i class="fa fa-user"></i>Program Summary</a></li>
				<li ng-class="{'active' : tab == 2}"><a ng-click="tab = 2"><i
						class="fa fa-briefcase"></i>Risk Summary</a></li>
				<li ng-class="{'active' : tab == 3}"><a ng-click="tab = 3"><i
						class="fa fa-briefcase"></i>Others</a></li>

			</ul>
			<div class="tab-content">
				<div id="tab-1" class="tab-pane active" ng-show="tab == 1">
					<table class="table">
						<thead>
							<tr>
								<th>Measure</th>
								<th>2017</th>
								<th>2016</th>
								<th>2015</th>
								<th>2014</th>
								<th>2013</th>
							</tr>
						</thead>
						<tbody>
							<tr class="success">
								<td>Measure One</td>
								<td>1000</td>
								<td>900</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="danger">
								<td>Measure Two</td>
								<td>1000</td>
								<td>900</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="info">
								<td>Measure Three</td>
								<td>1000</td>
								<td>900</td>
								<td>800</td>
								<td>700</td>
								<td>600</td>
							</tr>
						</tbody>
					</table>

				</div>
				<div id="tab-2" class="tab-pane active" ng-show="tab == 2">
					<div class="ibox-content no-padding border-left-right">
						<img class="img-responsive" width="100%" alt="image"
							src="content/images/heatmap.jpg">
					</div>
				</div>
				<div id="tab-3" class="tab-pane active" ng-show="tab == 3">
					Other Metrics or Summaries</div>
			</div>




			<!-- 	
		<div class="tabs-container">			
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#tab-1">
						Demand Summary</a></li>
				<li class="active"><a data-toggle="tab" href="#tab-1">Risk
						Assessment</a></li>
			</ul>
			<div class="tab-content">
				<div id="tab-1" class="tab-pane active">
					<div class="panel-body">

						<table class="table">
							<thead>
								<tr>
									<th>Measure</th>
									<th>2017</th>
									<th>2016</th>
									<th>2015</th>
									<th>2014</th>
									<th>2013</th>
								</tr>
							</thead>
							<tbody>
								<tr class="success">
									<td>Measure One</td>
									<td>1000</td>
									<td>900</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr class="danger">
									<td>Measure Two</td>
									<td>1000</td>
									<td>900</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr class="info">
									<td>Measure Three</td>
									<td>1000</td>
									<td>900</td>
									<td>800</td>
									<td>700</td>
									<td>600</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="tab-2" class="tab-pane">
					<div class="panel-body">
						<strong>Donec quam felis</strong>

						<p>Thousand unknown plants are noticed by me: when I hear the
							buzz of the little world among the stalks, and grow familiar with
							the countless indescribable forms of the insects and flies, then
							I feel the presence of the Almighty, who formed us in his own
							image, and the breath</p>

						<p>I am alone, and feel the charm of existence in this spot,
							which was created for the bliss of souls like mine. I am so
							happy, my dear friend, so absorbed in the exquisite sense of mere
							tranquil existence, that I neglect my talents. I should be
							incapable of drawing a single stroke at the present moment; and
							yet.</p>
					</div>
				</div>
			</div>
		</div> -->
		</div>
	</div>
	<div class="col-sm-3">
		<div class="statistic-box">
			<h4>Demands In Process</h4>

			<p>You have two five demands that require your attentions.</p>
			
			MISSING PIE CHART - Click on Chart opens Dialog to concur or approve.

            <!--
			<div class="ibox-title">
				<h5>Pie Chart Example</h5>
				<div class="ibox-tools">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
					</a> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
						class="fa fa-wrench"></i>
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#">Config option 1</a></li>
						<li><a href="#">Config option 2</a></li>
					</ul>
					<a class="close-link"> <i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			-->
			<div class="ibox-content">
				<div class="flot-chart" ng-controller="flotChartCtrl as charts">
					<div class="flot-chart-pie-content" id="flot-pie-chart"
						style="padding: 0px; position: relative;">
						<canvas class="flot-base"
							style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 200px; height: 200px;"
							width="200" height="200"></canvas>
						<canvas class="flot-overlay"
							style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 200px; height: 200px;"
							width="200" height="200"></canvas>
						<div class="legend">
							<div
								style="position: absolute; width: 51px; height: 57px; top: 5px; right: 5px; background-color: rgb(255, 255, 255); opacity: 0.85;">
							</div>
							<table
								style="position: absolute; top: 5px; right: 5px;; font-size: smaller; color: #545454">
								<tbody>
									<tr>
										<td class="legendColorBox" ><div
												style="border: 1px solid #ccc; padding: 1px">
												<div
													style="width: 4px; height: 0; border: 5px solid #d3d3d3; overflow: hidden"></div>
											</div></td>
										<td class="legendLabel">Status One</td>
									</tr>
									<tr>
										<td class="legendColorBox"><div
												style="border: 1px solid #ccc; padding: 1px">
												<div
													style="width: 4px; height: 0; border: 5px solid #bababa; overflow: hidden"></div>
											</div></td>
										<td class="legendLabel">Status Two</td>
									</tr>
									<tr>
										<td class="legendColorBox"><div
												style="border: 1px solid #ccc; padding: 1px">
												<div
													style="width: 4px; height: 0; border: 5px solid #79d2c0; overflow: hidden"></div>
											</div></td>
										<td class="legendLabel">Status Three</td>
									</tr>
									<tr>
										<td class="legendColorBox"><div
												style="border: 1px solid #ccc; padding: 1px">
												<div
													style="width: 4px; height: 0; border: 5px solid #1ab394; overflow: hidden"></div>
											</div></td>
										<td class="legendLabel">Status Four</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>











			<!-- <div class="row text-center" ng-controller="chartJsCtrl as chart">
					<div class="col-lg-6">
						<canvas polarchart options="chart.polarOptions"
							data="chart.polarData" width="80" height="80"></canvas>
						<h5>Kolter</h5>
					</div>
					<div class="col-lg-6">
						<canvas doughnutchart options="chart.doughnutOptions"
							data="chart.doughnutData" width="78" height="78"></canvas>
						<h5>Maxtor</h5>
					</div>
				</div>
				<div class="m-t">
					<small>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry.</small>
				</div>
				-->

		</div>
	</div>
</div>

<!-- NEW SECTION -->

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content">
			<div class="row">
				<div class="col-lg-8">


					<div class="ibox float-e-margins">
						<!--                        
						<div class="ibox-title">
                            <h5>Custom responsive table </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div> 
                        -->

						<div class="ibox-content">
							<div class="row">
								<!-- 
								<div class="col-sm-5 m-b-xs">
									<select class="input-sm form-control input-s-sm inline">
										<option value="0">Option 1</option>
										<option value="1">Option 2</option>
										<option value="2">Option 3</option>
										<option value="3">Option 4</option>
									</select>
								</div>
								<div class="col-sm-4 m-b-xs">
									<div data-toggle="buttons" class="btn-group">
										<label class="btn btn-sm btn-white"> <input
											id="option1" name="options" type="radio"> Day
										</label> <label class="btn btn-sm btn-white active"> <input
											id="option2" name="options" type="radio"> Week
										</label> <label class="btn btn-sm btn-white"> <input
											id="option3" name="options" type="radio"> Month
										</label>
									</div>
								</div>
								-->
								<div class="col-sm-3">
									<div class="input-group">
										<input placeholder="Search" class="input-sm form-control"
											type="text"> <span class="input-group-btn">
											<button type="button" class="btn btn-sm btn-primary">
												Go!</button>
										</span>
									</div>
								</div>
							</div>

							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>

											<th></th>
											<th>Project</th>
											<th>Completed</th>
											<th>Task</th>
											<th>Date</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><div class="icheckbox_square-green checked"
													style="position: relative;">
													<input checked="" class="i-checks" name="input[]"
														style="position: absolute; opacity: 0;" type="checkbox">
													<ins class="iCheck-helper"
														style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
												</div></td>
											<td>Project Alpha</td>
											<td><span class="pie" style="display: none;">0.52/1.561</span>
												<svg class="peity" height="16" width="16">
													<path
														d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z"
														fill="#1ab394"></path>
													<path
														d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z"
														fill="#d7d7d7"></path></svg></td>
											<td>20%</td>
											<td>Jul 14, 2013</td>
											<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
										</tr>
										<tr>
											<td><div class="icheckbox_square-green"
													style="position: relative;">
													<input class="i-checks" name="input[]"
														style="position: absolute; opacity: 0;" type="checkbox">
													<ins class="iCheck-helper"
														style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
												</div></td>
											<td>Project Beta</td>
											<td><span class="pie" style="display: none;">6,9</span>
												<svg class="peity" height="16" width="16">
													<path
														d="M 8 8 L 8 0 A 8 8 0 0 1 12.702282018339785 14.47213595499958 Z"
														fill="#1ab394"></path>
													<path
														d="M 8 8 L 12.702282018339785 14.47213595499958 A 8 8 0 1 1 7.999999999999998 0 Z"
														fill="#d7d7d7"></path></svg></td>
											<td>40%</td>
											<td>Jul 16, 2013</td>
											<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
										</tr>
										<tr>
											<td><div class="icheckbox_square-green"
													style="position: relative;">
													<input class="i-checks" name="input[]"
														style="position: absolute; opacity: 0;" type="checkbox">
													<ins class="iCheck-helper"
														style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
												</div></td>
											<td>Project Gamma</td>
											<td><span class="pie" style="display: none;">3,1</span>
												<svg class="peity" height="16" width="16">
													<path d="M 8 8 L 8 0 A 8 8 0 1 1 0 8.000000000000002 Z"
														fill="#1ab394"></path>
													<path
														d="M 8 8 L 0 8.000000000000002 A 8 8 0 0 1 7.999999999999998 0 Z"
														fill="#d7d7d7"></path></svg></td>
											<td>75%</td>
											<td>Jul 18, 2013</td>
											<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
										</tr>
										<tr>
											<td><div class="icheckbox_square-green"
													style="position: relative;">
													<input class="i-checks" name="input[]"
														style="position: absolute; opacity: 0;" type="checkbox">
													<ins class="iCheck-helper"
														style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
												</div></td>
											<td>Project Delta</td>
											<td><span class="pie" style="display: none;">4,9</span>
												<svg class="peity" height="16" width="16">
													<path
														d="M 8 8 L 8 0 A 8 8 0 0 1 15.48012994148332 10.836839096340286 Z"
														fill="#1ab394"></path>
													<path
														d="M 8 8 L 15.48012994148332 10.836839096340286 A 8 8 0 1 1 7.999999999999998 0 Z"
														fill="#d7d7d7"></path></svg></td>
											<td>18%</td>
											<td>Jul 22, 2013</td>
											<td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>







					<!-- 
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>New data for the report</h5>
							<span class="label label-primary">IN+</span>
							<div ibox-tools></div>
						</div>
						<div class="ibox-content">
							<div>

								<div class="pull-right text-right">
									<bar-chart data="main.BarChart.data"
										options="main.BarChart.options"></bar-chart>
									<br /> <small class="font-bold">$ 20 054.43</small>
								</div>
								<h4>
									NYS report new data! <br /> <small class="m-r"><a
										ui-sref="flot_chart"> Check the stock price! </a></small>
								</h4>
							</div>
						</div>
					</div> -->
					
				<!-- 
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Read below comments and tweets</h5>
							<div ibox-tools></div>
						</div>
						<div class="ibox-content no-padding">
							<ul class="list-group">
								<li class="list-group-item">
									<p>
										<a class="text-info" href="">@Alan Marry</a> I belive that.
										Lorem Ipsum is simply dummy text of the printing and
										typesetting industry.
									</p> <small class="block text-muted"><i
										class="fa fa-clock-o"></i> 1 minuts ago</small>
								</li>
								<li class="list-group-item">
									<p>
										<a class="text-info" href="">@Stock Man</a> Check this stock
										chart. This price is crazy!
									</p>

									<div class="text-center m">
										<span id="sparkline8"></span>
									</div> <small class="block text-muted"><i
										class="fa fa-clock-o"></i> 2 hours ago</small>
								</li>
								<li class="list-group-item">
									<p>
										<a class="text-info" href="">@Kevin Smith</a> Lorem ipsum
										unknown printer took a galley
									</p> <small class="block text-muted"><i
										class="fa fa-clock-o"></i> 2 minuts ago</small>
								</li>
								<li class="list-group-item ">
									<p>
										<a class="text-info" href="">@Jonathan Febrick</a> The
										standard chunk of Lorem Ipsum
									</p> <small class="block text-muted"><i
										class="fa fa-clock-o"></i> 1 hour ago</small>
								</li>
								<li class="list-group-item">
									<p>
										<a class="text-info" href="">@Alan Marry</a> I belive that.
										Lorem Ipsum is simply dummy text of the printing and
										typesetting industry.
									</p> <small class="block text-muted"><i
										class="fa fa-clock-o"></i> 1 minuts ago</small>
								</li>
								<li class="list-group-item">
									<p>
										<a class="text-info" href="">@Kevin Smith</a> Lorem ipsum
										unknown printer took a galley
									</p> <small class="block text-muted"><i
										class="fa fa-clock-o"></i> 2 minuts ago</small>
								</li>
							</ul>
						</div>
					</div> -->
				</div> 
				
				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Your daily feed</h5>

							
							<div class="ibox-tools">
								<span class="label label-warning-light">10 Messages</span>
							</div>
						</div>
						<div class="ibox-content">

							<div>
								<div class="feed-activity-list">

									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/profile.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">5m ago</small> <strong>Monica
												Smith</strong> posted a new blog. <br> <small class="text-muted">Today
												5:60 pm - 12.06.2014</small>

										</div>
									</div>

									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/a2.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">2h ago</small> <strong>Mark
												Johnson</strong> posted message on <strong>Monica Smith</strong>
											site. <br> <small class="text-muted">Today 2:10
												pm - 12.06.2014</small>
										</div>
									</div>
									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/a3.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">2h ago</small> <strong>Janet
												Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
											<small class="text-muted">2 days ago at 8:30am</small>
										</div>
									</div>
									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/a4.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right text-navy">5h ago</small> <strong>Chris
												Johnatan Overtunk</strong> started following <strong>Monica
												Smith</strong>. <br> <small class="text-muted">Yesterday
												1:21 pm - 11.06.2014</small>
											<div class="actions">
												<a class="btn btn-xs btn-white"><i
													class="fa fa-thumbs-up"></i> Like </a> <a
													class="btn btn-xs btn-white"><i class="fa fa-heart"></i>
													Love</a>
											</div>
										</div>
									</div>
									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/a5.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">2h ago</small> <strong>Kim
												Smith</strong> posted message on <strong>Monica Smith</strong> site.
											<br> <small class="text-muted">Yesterday 5:20 pm
												- 12.06.2014</small>
											<div class="well">Lorem Ipsum is simply dummy text of
												the printing and typesetting industry. Lorem Ipsum has been
												the industry's standard dummy text ever since the 1500s.
												Over the years, sometimes by accident, sometimes on purpose
												(injected humour and the like).</div>
											<div class="pull-right">
												<a class="btn btn-xs btn-white"><i
													class="fa fa-thumbs-up"></i> Like </a>
											</div>
										</div>
									</div>
									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/profile.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">23h ago</small> <strong>Monica
												Smith</strong> love <strong>Kim Smith</strong>. <br> <small
												class="text-muted">2 days ago at 2:30 am -
												11.06.2014</small>
										</div>
									</div>
									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/a7.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">46h ago</small> <strong>Mike
												Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
											<small class="text-muted">3 days ago at 7:58 pm -
												10.06.2014</small>
										</div>
									</div>
								</div>

								<button class="btn btn-primary btn-block m-t">
									<i class="fa fa-arrow-down"></i> Show More
								</button>

							</div>

						</div>
					</div>

				</div>
			
				<!-- 
				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Alpha project</h5>
							<div ibox-tools></div>
						</div>
						<div class="ibox-content ibox-heading">
							<h3>You have meeting today!</h3>
							<small><i class="fa fa-map-marker"></i> Meeting is on
								6:00am. Check your schedule to see detail.</small>
						</div>
						<div class="ibox-content inspinia-timeline">

							<div class="timeline-item">
								<div class="row">
									<div class="col-xs-3 date">
										<i class="fa fa-briefcase"></i> 6:00 am <br /> <small
											class="text-navy">2 hour ago</small>
									</div>
									<div class="col-xs-7 content no-top-border">
										<p class="m-b-xs">
											<strong>Meeting</strong>
										</p>

										<p>Conference on the sales results for the previous year.
											Monica please examine sales trends in marketing and products.
											Below please find the current status of the sale.</p>

										<p>
											<line-chart data="main.LineChart.data"
												options="main.LineChart.options"></line-chart>
										</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="row">
									<div class="col-xs-3 date">
										<i class="fa fa-file-text"></i> 7:00 am <br /> <small
											class="text-navy">3 hour ago</small>
									</div>
									<div class="col-xs-7 content">
										<p class="m-b-xs">
											<strong>Send documents to Mike</strong>
										</p>

										<p>Lorem Ipsum is simply dummy text of the printing and
											typesetting industry. Lorem Ipsum has been the industry's
											standard dummy text ever since.</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="row">
									<div class="col-xs-3 date">
										<i class="fa fa-coffee"></i> 8:00 am <br />
									</div>
									<div class="col-xs-7 content">
										<p class="m-b-xs">
											<strong>Coffee Break</strong>
										</p>

										<p>Go to shop and find some products. Lorem Ipsum is
											simply dummy text of the printing and typesetting industry.
											Lorem Ipsum has been the industry's.</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="row">
									<div class="col-xs-3 date">
										<i class="fa fa-phone"></i> 11:00 am <br /> <small
											class="text-navy">21 hour ago</small>
									</div>
									<div class="col-xs-7 content">
										<p class="m-b-xs">
											<strong>Phone with Jeronimo</strong>
										</p>

										<p>Lorem Ipsum has been the industry's standard dummy text
											ever since.</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="row">
									<div class="col-xs-3 date">
										<i class="fa fa-user-md"></i> 09:00 pm <br /> <small>21
											hour ago</small>
									</div>
									<div class="col-xs-7 content">
										<p class="m-b-xs">
											<strong>Go to the doctor dr Smith</strong>
										</p>

										<p>Find some issue and go to doctor.</p>
									</div>
								</div>
							</div>
							<div class="timeline-item">
								<div class="row">
									<div class="col-xs-3 date">
										<i class="fa fa-comments"></i> 12:50 pm <br /> <small
											class="text-navy">48 hour ago</small>
									</div>
									<div class="col-xs-7 content">
										<p class="m-b-xs">
											<strong>Chat with Monica and Sandra</strong>
										</p>

										<p>Web sites still in their infancy. Various versions have
											evolved over the years, sometimes by accident, sometimes on
											purpose (injected humour and the like).</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

</div>
-->
<!-- 
<div class="small-chat-box ng-small-chat fadeInRight animated"
	ng-show="openChat">

	<div class="heading" draggable="true">
		<small class="chat-date pull-right"> 02.19.2015 </small> Small chat
	</div>

	<div class="content" chat-slim-scroll>

		<div class="left">
			<div class="author-name">
				Monica Jackson <small class="chat-date"> 10:02 am </small>
			</div>
			<div class="chat-message active">Lorem Ipsum is simply dummy
				text input.</div>

		</div>
		<div class="right">
			<div class="author-name">
				Mick Smith <small class="chat-date"> 11:24 am </small>
			</div>
			<div class="chat-message">Lorem Ipsum is simpl.</div>
		</div>
		<div class="left">
			<div class="author-name">
				Alice Novak <small class="chat-date"> 08:45 pm </small>
			</div>
			<div class="chat-message active">Check this stock char.</div>
		</div>
		<div class="right">
			<div class="author-name">
				Anna Lamson <small class="chat-date"> 11:24 am </small>
			</div>
			<div class="chat-message">The standard chunk of Lorem Ipsum</div>
		</div>
		<div class="left">
			<div class="author-name">
				Mick Lane <small class="chat-date"> 08:45 pm </small>
			</div>
			<div class="chat-message active">I belive that. Lorem Ipsum is
				simply dummy text.</div>
		</div>


	</div>
	<div class="form-chat">
		<div class="input-group input-group-sm">
			<input type="text" class="form-control"> <span
				class="input-group-btn">
				<button class="btn btn-primary" type="button">Send</button>
			</span>
		</div>
	</div>

</div>
<div id="small-chat" ng-click="openChat = !openChat">

	<span class="badge badge-warning pull-right">5</span> <a
		class="open-small-chat"> <i class="fa fa-comments"></i>

	</a>
</div>
-->
