
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCountermeasurefactorLabel" translate="adapGatewayApp.countermeasurefactor.home.createOrEditLabel">Create or edit a Countermeasurefactor</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.countermeasurefactor.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.countermeasurefactor.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapGatewayApp.countermeasurefactor.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.countermeasurefactor.name"
                    required ng-maxlength="50" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapGatewayApp.countermeasurefactor.nameshort" for="field_nameshort">Nameshort</label>
            <input type="text" class="form-control" name="nameshort" id="field_nameshort"
                    ng-model="vm.countermeasurefactor.nameshort"
                    required ng-maxlength="20" />
            <div ng-show="editForm.nameshort.$invalid">
                <p class="help-block"
                    ng-show="editForm.nameshort.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nameshort.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="20">
                    This field cannot be longer than 20 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapGatewayApp.countermeasurefactor.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.countermeasurefactor.description"
                    ng-maxlength="255" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapGatewayApp.countermeasurefactor.version" for="field_version">Version</label>
            <input type="text" class="form-control" name="version" id="field_version"
                    ng-model="vm.countermeasurefactor.version"
                    ng-maxlength="25" />
            <div ng-show="editForm.version.$invalid">
                <p class="help-block"
                    ng-show="editForm.version.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
                    This field cannot be longer than 25 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapGatewayApp.countermeasurefactor.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                    ng-model="vm.countermeasurefactor.value"
                    required ng-maxlength="25" />
            <div ng-show="editForm.value.$invalid">
                <p class="help-block"
                    ng-show="editForm.value.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.value.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
                    This field cannot be longer than 25 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapGatewayApp.countermeasurefactor.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.countermeasurefactor.comment"
                    ng-maxlength="100" />
            <div ng-show="editForm.comment.$invalid">
                <p class="help-block"
                    ng-show="editForm.comment.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapGatewayApp.countermeasurefactor.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.countermeasurefactor.status"
                    required ng-maxlength="25" />
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.status.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
                    This field cannot be longer than 25 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapGatewayApp.countermeasurefactor.lastmodifiedby" for="field_lastmodifiedby">Lastmodifiedby</label>
            <input type="text" class="form-control" name="lastmodifiedby" id="field_lastmodifiedby"
                    ng-model="vm.countermeasurefactor.lastmodifiedby"
                    required ng-maxlength="50" />
            <div ng-show="editForm.lastmodifiedby.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastmodifiedby.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lastmodifiedby.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapGatewayApp.countermeasurefactor.lastmodifieddatetime" for="field_lastmodifieddatetime">Lastmodifieddatetime</label>
                <div class="input-group">
                    <input id="field_lastmodifieddatetime" type="text" class="form-control" name="lastmodifieddatetime" datetime-picker="{{dateformat}}" ng-model="vm.countermeasurefactor.lastmodifieddatetime" is-open="vm.datePickerOpenStatus.lastmodifieddatetime"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastmodifieddatetime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.lastmodifieddatetime.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastmodifieddatetime.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lastmodifieddatetime.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="adapGatewayApp.countermeasurefactor.domain" for="field_domain">Domain</label>
            <input type="text" class="form-control" name="domain" id="field_domain"
                    ng-model="vm.countermeasurefactor.domain"
                    required ng-maxlength="25" />
            <div ng-show="editForm.domain.$invalid">
                <p class="help-block"
                    ng-show="editForm.domain.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.domain.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="25">
                    This field cannot be longer than 25 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="adapGatewayApp.countermeasurefactor.countermeasure" for="field_countermeasure">Countermeasure</label>
            <select class="form-control" id="field_countermeasure" name="countermeasure" ng-model="vm.countermeasurefactor.countermeasure" ng-options="countermeasure as countermeasure.name for countermeasure in vm.countermeasures track by countermeasure.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.countermeasure.$invalid">
            <p class="help-block"
                ng-show="editForm.countermeasure.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label translate="adapGatewayApp.countermeasurefactor.pathway" for="field_pathway">Pathway</label>
            <select class="form-control" id="field_pathway" name="pathway" ng-model="vm.countermeasurefactor.pathway" ng-options="pathway as pathway.name for pathway in vm.pathways track by pathway.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.pathway.$invalid">
            <p class="help-block"
                ng-show="editForm.pathway.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label translate="adapGatewayApp.countermeasurefactor.countermeasurefactortype" for="field_countermeasurefactortype">Countermeasurefactortype</label>
            <select class="form-control" id="field_countermeasurefactortype" name="countermeasurefactortype" ng-model="vm.countermeasurefactor.countermeasurefactortype" ng-options="countermeasurefactortype as countermeasurefactortype.name for countermeasurefactortype in vm.countermeasurefactortypes track by countermeasurefactortype.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.countermeasurefactortype.$invalid">
            <p class="help-block"
                ng-show="editForm.countermeasurefactortype.$error.required" translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label translate="adapGatewayApp.countermeasurefactor.weapon" for="field_weapon">Weapon</label>
            <select class="form-control" id="field_weapon" multiple name="weapon" ng-model="vm.countermeasurefactor.weapons" ng-options="weapon as weapon.name for weapon in vm.weapons track by weapon.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
