<div class="row  border-bottom white-bg dashboard-header">
	<div class="col-sm-4">
		<!-- <h3>Portfolio</h3>-->
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a sref="portfolio-home">Portfolio</a></li>
			<li class="active"><strong>{{vm.portfolio.nameshort}}</strong></li>
		</ol>
		<div class="ibox-content">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-lg-4 control-label"
						data-translate="adapGatewayApp.portfolio.name" for="field_name">Name</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" name="name"
							id="field_name" ng-model="vm.portfolio.name" required
							ng-maxlength="100" />
						<div ng-show="editForm.name.$invalid">
							<p class="help-block" ng-show="editForm.name.$error.required"
								data-translate="entity.validation.required">This field is
								required.</p>
							<p class="help-block" ng-show="editForm.name.$error.maxlength"
								data-translate="entity.validation.maxlength"
								translate-value-max="100">This field cannot be longer than
								100 characters.</p>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-4 control-label"
						data-translate="adapGatewayApp.portfolio.nameshort"
						for="field_nameshort">Short name</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" placeholder=".col-md-2"
							name="nameshort" id="field_nameshort"
							ng-model="vm.portfolio.nameshort" required ng-maxlength="20" />
						<div ng-show="editForm.nameshort.$invalid">
							<p class="help-block"
								ng-show="editForm.nameshort.$error.required"
								data-translate="entity.validation.required">This field is
								required.</p>
							<p class="help-block"
								ng-show="editForm.nameshort.$error.maxlength"
								data-translate="entity.validation.maxlength"
								translate-value-max="20">This field cannot be longer than 20
								characters.</p>
						</div>
					</div>
				</div>			
                <div class="form-group">
                    <label  class="col-lg-4 control-label" data-translate="adapGatewayApp.portfolio.category" for="field_category">Category</label>
                    <select  class="col-lg-8"  id="field_category" multiple name="category" ng-model="vm.portfolio.categories" ng-options="category as category.name for category in vm.categories track by category.id"></select>
                </div>
                <div class="form-group">
                    <label  class="col-lg-4 control-label" data-translate="adapGatewayApp.portfolio.subcategory" for="field_subcategory">Subcategory</label>
                    <select  class="col-lg-8" id="field_subcategory" multiple name="subcategory" ng-model="vm.portfolio.subcategories" ng-options="subcategory as subcategory.name for subcategory in vm.subcategories track by subcategory.id"></select>
                </div>
                <div class="form-group">
                    <label  class="col-lg-4 control-label" data-translate="adapGatewayApp.portfolio.recordtype" for="field_recordtype">Recordtype</label>
                    <select  class="col-lg-8" id="field_recordtype" name="recordtype" ng-model="vm.portfolio.recordtype" ng-options="recordtype as recordtype.name for recordtype in vm.recordtypes track by recordtype.id">
                    <option value=""></option>
                    </select>
                </div>
                <div class="form-group">
                  <label  class="col-lg-4 control-label" data-translate="adapGatewayApp.portfolio.description" for="field_description">Description</label>
                  <textarea  class="col-lg-8" name="description" id="field_description"
                     ng-model="vm.portfolio.description"
                     ng-maxlength="255"></textarea>
                  <div ng-show="editForm.description.$invalid">
                    <p class="help-block"
                      ng-show="editForm.description.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                      This field cannot be longer than 255 characters.
                    </p>
                 </div>
                </div> 
			</form>

		</div>
	</div>
	<div class="col-sm-7">

		<div class="tabs-container">
			<ul class="nav nav-tabs">
				<!-- <span class="pull-right small text-muted">1406 Elements</span> -->
				<li ng-class="{'active' : tab1 == 1}"><a ng-click="tab1 = 1"
					ng-init="tab1 = 1"><i class="fa fa-user"></i>Program Summary</a></li>
				<li ng-class="{'active' : tab1 == 2}"><a ng-click="tab1 = 2"><i
						class="fa fa-briefcase"></i>Risk Summary</a></li>
				<li ng-class="{'active' : tab1 == 3}"><a ng-click="tab1 = 3"><i
						class="fa fa-briefcase"></i>Others</a></li>

			</ul>
			<div class="tab-content">
				<div id="tab" class="tab-pane active" ng-show="tab1 == 1">
					<div class="ibox-content">
						<div style="height: 250px; margin: 0 auto" />
						TAB1
					</div>
				</div>
				<div id="tab" class="tab-pane active" ng-show="tab1 == 2">
					<div class="ibox-content">
						<div style="height: 250px; margin: 0 auto" />
						TAB2
					</div>
				</div>
				<div id="tab" class="tab-pane active" ng-show="tab1 == 3">
					<div class="ibox-content">
						<div style="height: 250px; margin: 0 auto" />
						TAB3
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-1">
		<button type="button" class="btn btn-danger dim" ng-click="vm.cancel()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				data-translate="entity.action.cancel">Cancel</span>
		</button>
		<button class="btn btn-primary dim" ng-click="vm.save()">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				data-translate="entity.action.save">Save</span>
		</button>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content">
			<div class="row">
				<div class="col-lg-8">


					<div class="ibox float-e-margins">

						<div class="ibox-content">
							<div class="row">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-4 no-padding-left">
											<button class="btn btn-primary"
												ui-sref="portfolioprojectmbr.new">
												<span class="glyphicon glyphicon-plus"></span> <span
													class="hidden-xs">
													Create new Portfolioprojectmbr </span>
											</button>
										</div>
										<div class="col-xs-8 no-padding-right">
											<form name="searchForm" class="form-inline">
												<div class="input-group pull-right">
													<input type="text" class="form-control"
														ng-model="vm.searchQuery" id="searchQuery"
														placeholder="search">
													<span class="input-group-btn width-min">
														<button class="btn btn-info"
															ng-click="vm.search(vm.searchQuery)">
															<span class="glyphicon glyphicon-search"></span>
														</button>
													</span> <span class="input-group-btn width-min"
														ng-if="vm.currentSearch">
														<button class="btn btn-info" ng-click="vm.clear()">
															<span class="glyphicon glyphicon-trash"></span>
														</button>
													</span>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div class="tabs-container">
								<ul class="nav nav-tabs">
									<li ng-class="{'active' : tab2 == 11}"><a
										ng-click="tab2 = 11" ng-init="tab2 = 11"><i
											class="fa fa-user"></i>Programs </a></li>
									<li ng-class="{'active' : tab2 == 12}"><a
										ng-click="tab2 = 12"><i class="fa fa-briefcase"></i>Projects</a></li>
									<li ng-class="{'active' : tab2 == 13}"><a
										ng-click="tab2 = 13"><i class="fa fa-briefcase"></i>Assets</a></li>
								</ul>
								<div class="tab-content">
									<div id="tab-11" class="tab-pane active" ng-show="tab2 == 11">
										TAB 11
										ANGULAR FILTER TABLE = WHERE RECORDTYPE=PROGRAM
										<div class="table-responsive">
											<table class="jh-table table table-striped">
												<thead>
													<tr jh-sort="vm.predicate" ascending="vm.reverse"
														callback="vm.transition()">
														<th jh-sort-by="id"><span>ID</span> <span
															class="glyphicon glyphicon-sort"></span></th>
														<th jh-sort-by="comment"><span>Comment</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<!-- <th jh-sort-by="status"><span
															data-translate="adapGatewayApp.portfolioprojectmbr.status">Status</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<th jh-sort-by="lastmodifiedby"><span
															data-translate="adapGatewayApp.portfolioprojectmbr.lastmodifiedby">Lastmodifiedby</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<th jh-sort-by="lastmodifieddatetime"><span
															data-translate="adapGatewayApp.portfolioprojectmbr.lastmodifieddatetime">Lastmodifieddatetime</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<th jh-sort-by="domain"><span
															data-translate="adapGatewayApp.portfolioprojectmbr.domain">Domain</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<th jh-sort-by="portfoliolhs.name"><span
															data-translate="adapGatewayApp.portfolioprojectmbr.portfoliolhs">Portfoliolhs</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														-->
														<th jh-sort-by="projectrhs.name"><span>Projectrhs</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<th>RecordType</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr
														ng-repeat="portfolioprojectmbr in vm.portfolioprojectmbrs | filter: portfolioprojectmbr.portfoliolhs.recordtype.id=400">
														<td><a
															ui-sref="portfolioprojectmbr-detail({id:portfolioprojectmbr.id})">{{portfolioprojectmbr.id}}</a></td>
													    <td>{{portfolioprojectmbr.comment}}</td> 
														<!-- <td>{{portfolioprojectmbr.status}}</td>
														<td>{{portfolioprojectmbr.lastmodifiedby}}</td>
														<td>{{portfolioprojectmbr.lastmodifieddatetime |
															date:'medium'}}</td>
														<td>{{portfolioprojectmbr.domain}}</td>
														<td><a
															ui-sref="portfolio-detail({id:portfolioprojectmbr.portfoliolhs.id})">{{portfolioprojectmbr.portfoliolhs.name}}</a>
														</td>
														-->
														
														<!--  IF RECORDTYPE = PROGRAM THEN -->
														<td><a
															ui-sref="program-edit({id:portfolioprojectmbr.projectrhs.id})">{{portfolioprojectmbr.portfoliolhs.name}}</a>
														</td>
														<!--  IF RECORDTYPE = PROJECT THEN 
														<td><a
															ui-sref="project-edit({id:portfolioprojectmbr.projectrhs.id})">{{portfolioprojectmbr.projectrhs.name}}</a>
														</td> 
														-->
														
														
															<td>{{portfolioprojectmbr.portfoliolhs.recordtype.name}}</td>
			  											<td class="text-right">
															<div class="btn-group flex-btn-group-container">
																<button type="submit"
														           ui-sref="program-edit({id:portfolioprojectmbr.projectrhs.id})"
														           class="btn btn-warning btn-xs">
														           <span class="fa-file-text-o"></span>
													            </button>
																<button type="submit"
																	ui-sref="portfolioprojectmbr-detail({id:portfolioprojectmbr.id})"
																	class="btn btn-info btn-sm">
																	<span class="glyphicon glyphicon-eye-open"></span> <span
																		class="hidden-xs hidden-sm"
																		data-translate="entity.action.view"></span>
																</button>
																<button type="submit"
																	ui-sref="portfolioprojectmbr.edit({id:portfolioprojectmbr.id})"
																	class="btn btn-primary btn-sm">
																	<span class="glyphicon glyphicon-pencil"></span> <span
																		class="hidden-xs hidden-sm"
																		data-translate="entity.action.edit"></span>
																</button>
																<button type="submit"
																	ui-sref="portfolioprojectmbr.delete({id:portfolioprojectmbr.id})"
																	class="btn btn-danger btn-sm">
																	<span class="glyphicon glyphicon-remove-circle"></span>
																	<span class="hidden-xs hidden-sm"
																		data-translate="entity.action.delete"></span>
																</button>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<!--
										<div class="text-center">
											<jhi-item-count page="vm.page" total="vm.queryCount"
												items-per-page="vm.itemsPerPage"></jhi-item-count>
											<uib-pagination class="pagination-sm"
												total-items="vm.totalItems" ng-model="vm.page"
												ng-change="vm.transition()"></uib-pagination>
										</div>
										-->
									</div>
									<div id="tab-12" class="tab-pane active" ng-show="tab2 == 12">
										TAB 12 ANGULAR FILTER TABLE = WHERE RECORDTYPE=PROJECT
										<div class="table-responsive">
											<table class="jh-table table table-striped">
												<thead>
													<tr jh-sort="vm.predicate" ascending="vm.reverse"
														callback="vm.transition()">
														<th jh-sort-by="id"><span>ID</span> <span
															class="glyphicon glyphicon-sort"></span></th>
														<th jh-sort-by="comment"><span>Comment</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<!-- <th jh-sort-by="status"><span
															data-translate="adapGatewayApp.portfolioprojectmbr.status">Status</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<th jh-sort-by="lastmodifiedby"><span
															data-translate="adapGatewayApp.portfolioprojectmbr.lastmodifiedby">Lastmodifiedby</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<th jh-sort-by="lastmodifieddatetime"><span
															data-translate="adapGatewayApp.portfolioprojectmbr.lastmodifieddatetime">Lastmodifieddatetime</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<th jh-sort-by="domain"><span
															data-translate="adapGatewayApp.portfolioprojectmbr.domain">Domain</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<th jh-sort-by="portfoliolhs.name"><span
															data-translate="adapGatewayApp.portfolioprojectmbr.portfoliolhs">Portfoliolhs</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														-->
														<th jh-sort-by="projectrhs.name"><span>Projectrhs</span>
															<span class="glyphicon glyphicon-sort"></span></th>
														<th>RecordType</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr
														ng-repeat="portfolioprojectmbr in vm.portfolioprojectmbrs | filter: portfolioprojectmbr.projectrhs.recordtype.id=402">
														<td><a
															ui-sref="portfolioprojectmbr-detail({id:portfolioprojectmbr.id})">{{portfolioprojectmbr.id}}</a></td>
														<td>{{portfolioprojectmbr.comment}}</td>
														<!-- <td>{{portfolioprojectmbr.status}}</td>
														<td>{{portfolioprojectmbr.lastmodifiedby}}</td>
														<td>{{portfolioprojectmbr.lastmodifieddatetime |
															date:'medium'}}</td>
														<td>{{portfolioprojectmbr.domain}}</td>
														<td><a
															ui-sref="portfolio-detail({id:portfolioprojectmbr.portfoliolhs.id})">{{portfolioprojectmbr.portfoliolhs.name}}</a>
														</td>
														-->
														<td><a
															ui-sref="project-detail({id:portfolioprojectmbr.projectrhs.id})">{{portfolioprojectmbr.projectrhs.name}}</a>
														</td>
														<td>{{portfolioprojectmbr.projectrhs.recordtype.name}}</td>
														<td class="text-right">
															<div class="btn-group flex-btn-group-container">
																<button type="submit"
																	ui-sref="portfolioprojectmbr-detail({id:portfolioprojectmbr.id})"
																	class="btn btn-info btn-sm">
																	<span class="glyphicon glyphicon-eye-open"></span> <span
																		class="hidden-xs hidden-sm"
																		data-translate="entity.action.view"></span>
																</button>
																<button type="submit"
																	ui-sref="portfolioprojectmbr.edit({id:portfolioprojectmbr.id})"
																	class="btn btn-primary btn-sm">
																	<span class="glyphicon glyphicon-pencil"></span> <span
																		class="hidden-xs hidden-sm"
																		data-translate="entity.action.edit"></span>
																</button>
																<button type="submit"
																	ui-sref="portfolioprojectmbr.delete({id:portfolioprojectmbr.id})"
																	class="btn btn-danger btn-sm">
																	<span class="glyphicon glyphicon-remove-circle"></span>
																	<span class="hidden-xs hidden-sm"
																		data-translate="entity.action.delete"></span>
																</button>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<!--
										<div class="text-center">
											<jhi-item-count page="vm.page" total="vm.queryCount"
												items-per-page="vm.itemsPerPage"></jhi-item-count>
											<uib-pagination class="pagination-sm"
												total-items="vm.totalItems" ng-model="vm.page"
												ng-change="vm.transition()"></uib-pagination>
										</div>
										-->
									</div>
									<div id="tab-13" class="tab-pane active" ng-show="tab2 == 13">
										TAB 13</div>
								</div>
							</div>


						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>Your daily feed</h5>


							<div class="ibox-tools">
								<span class="label label-warning-light">10 Messages</span>
							</div>
						</div>
						<div class="ibox-content">

							<div>
								<div class="feed-activity-list">

									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/profile.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">5m ago</small> <strong>Monica
												Smith</strong> posted a new blog. <br> <small class="text-muted">Today
												5:60 pm - 12.06.2014</small>

										</div>
									</div>

									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/a2.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">2h ago</small> <strong>Mark
												Johnson</strong> posted message on <strong>Monica Smith</strong>
											site. <br> <small class="text-muted">Today 2:10
												pm - 12.06.2014</small>
										</div>
									</div>
									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/a3.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">2h ago</small> <strong>Janet
												Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
											<small class="text-muted">2 days ago at 8:30am</small>
										</div>
									</div>
									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/a4.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right text-navy">5h ago</small> <strong>Chris
												Johnatan Overtunk</strong> started following <strong>Monica
												Smith</strong>. <br> <small class="text-muted">Yesterday
												1:21 pm - 11.06.2014</small>
											<div class="actions">
												<a class="btn btn-xs btn-white"><i
													class="fa fa-thumbs-up"></i> Like </a> <a
													class="btn btn-xs btn-white"><i class="fa fa-heart"></i>
													Love</a>
											</div>
										</div>
									</div>
									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/a5.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">2h ago</small> <strong>Kim
												Smith</strong> posted message on <strong>Monica Smith</strong> site.
											<br> <small class="text-muted">Yesterday 5:20 pm
												- 12.06.2014</small>
											<div class="well">Lorem Ipsum is simply dummy text of
												the printing and typesetting industry. Lorem Ipsum has been
												the industry's standard dummy text ever since the 1500s.
												Over the years, sometimes by accident, sometimes on purpose
												(injected humour and the like).</div>
											<div class="pull-right">
												<a class="btn btn-xs btn-white"><i
													class="fa fa-thumbs-up"></i> Like </a>
											</div>
										</div>
									</div>
									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/profile.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">23h ago</small> <strong>Monica
												Smith</strong> love <strong>Kim Smith</strong>. <br> <small
												class="text-muted">2 days ago at 2:30 am -
												11.06.2014</small>
										</div>
									</div>
									<div class="feed-element">
										<a ui-sref="profile" class="pull-left"> <img alt="image"
											class="img-circle" src="content/images/a7.jpg">
										</a>

										<div class="media-body ">
											<small class="pull-right">46h ago</small> <strong>Mike
												Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
											<small class="text-muted">3 days ago at 7:58 pm -
												10.06.2014</small>
										</div>
									</div>
								</div>
								<button class="btn btn-primary btn-block m-t">
									<i class="fa fa-arrow-down"></i> Show More
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
