
<div>
    <h2><span data-translate="adapGatewayApp.portfolio.detail.title">Portfolio</span> {{vm.portfolio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="adapGatewayApp.portfolio.name">Name</span></dt>
        <dd>
            <span>{{vm.portfolio.name}}</span>
        </dd>
        <dt><span data-translate="adapGatewayApp.portfolio.nameshort">Nameshort</span></dt>
        <dd>
            <span>{{vm.portfolio.nameshort}}</span>
        </dd>
        <dt><span data-translate="adapGatewayApp.portfolio.description">Description</span></dt>
        <dd>
            <span>{{vm.portfolio.description}}</span>
        </dd>
        <dt><span data-translate="adapGatewayApp.portfolio.status">Status</span></dt>
        <dd>
            <span>{{vm.portfolio.status}}</span>
        </dd>
        <dt><span data-translate="adapGatewayApp.portfolio.lastmodifiedby">Lastmodifiedby</span></dt>
        <dd>
            <span>{{vm.portfolio.lastmodifiedby}}</span>
        </dd>
        <dt><span data-translate="adapGatewayApp.portfolio.lastmodifieddatetime">Lastmodifieddatetime</span></dt>
        <dd>
            <span>{{vm.portfolio.lastmodifieddatetime | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="adapGatewayApp.portfolio.domain">Domain</span></dt>
        <dd>
            <span>{{vm.portfolio.domain}}</span>
        </dd>
        <dt><span data-translate="adapGatewayApp.portfolio.category">Category</span></dt>
        <dd>
            <span ng-repeat="category in vm.portfolio.categories">
                <a ui-sref="category-detail({id: category.id})">{{category.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="adapGatewayApp.portfolio.subcategory">Subcategory</span></dt>
        <dd>
            <span ng-repeat="subcategory in vm.portfolio.subcategories">
                <a ui-sref="subcategory-detail({id: subcategory.id})">{{subcategory.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span data-translate="adapGatewayApp.portfolio.recordtype">Recordtype</span></dt>
        <dd>
            <a ui-sref="recordtype-detail({id:vm.portfolio.recordtype.id})">{{vm.portfolio.recordtype.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="portfolio-detail.edit({id:vm.portfolio.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
