
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProjectprojectmbrLabel">Create or edit a Projectprojectmbr</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.projectprojectmbr.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.projectprojectmbr.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.projectprojectmbr.comment"
                    ng-maxlength="255" />
            <div ng-show="editForm.comment.$invalid">
                <p class="help-block"
                    ng-show="editForm.comment.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
            </div>

        <div class="form-group">
            <label for="field_projectlhs">Projectlhs</label>
            <select class="form-control" id="field_projectlhs" name="projectlhs" ng-model="vm.projectprojectmbr.projectlhs" ng-options="project as project.name for project in vm.projects track by project.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.projectlhs.$invalid">
            <p class="help-block"
                ng-show="editForm.projectlhs.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_projectrhs">Projectrhs</label>
            <select class="form-control" id="field_projectrhs" name="projectrhs" ng-model="vm.projectprojectmbr.projectrhs" ng-options="project as project.name for project in vm.projects track by project.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.projectrhs.$invalid">
            <p class="help-block"
                ng-show="editForm.projectrhs.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
