<div>
    <h2 translate="adapGatewayApp.pathway.home.title">Pathways</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pathway.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="adapGatewayApp.pathway.home.createLabel">
                        Create new Pathway
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'adapGatewayApp.pathway.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="adapGatewayApp.pathway.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nameshort"><span translate="adapGatewayApp.pathway.nameshort">Nameshort</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="adapGatewayApp.pathway.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isabstract"><span translate="adapGatewayApp.pathway.isabstract">Isabstract</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="condition"><span translate="adapGatewayApp.pathway.condition">Condition</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="adapGatewayApp.pathway.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifiedby"><span translate="adapGatewayApp.pathway.lastmodifiedby">Lastmodifiedby</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifieddatetime"><span translate="adapGatewayApp.pathway.lastmodifieddatetime">Lastmodifieddatetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="domain"><span translate="adapGatewayApp.pathway.domain">Domain</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isrootnode"><span translate="adapGatewayApp.pathway.isrootnode">Isrootnode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="recordtype.name"><span translate="adapGatewayApp.pathway.recordtype">Recordtype</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pathway in vm.pathways track by pathway.id">
                    <td><a ui-sref="pathway-detail({id:pathway.id})">{{pathway.id}}</a></td>
                    <td>{{pathway.name}}</td>
                    <td>{{pathway.nameshort}}</td>
                    <td>{{pathway.description}}</td>
                    <td>{{pathway.isabstract}}</td>
                    <td>{{pathway.condition}}</td>
                    <td>{{pathway.status}}</td>
                    <td>{{pathway.lastmodifiedby}}</td>
                    <td>{{pathway.lastmodifieddatetime | date:'medium'}}</td>
                    <td>{{pathway.domain}}</td>
                    <td>{{pathway.isrootnode}}</td>
                    <td>
                        <a ui-sref="recordtype-detail({id:pathway.recordtype.id})">{{pathway.recordtype.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pathway-detail({id:pathway.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pathway.edit({id:pathway.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pathway.delete({id:pathway.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
