<div>
    <h2><span translate="adapGatewayApp.questionnaire.detail.title">Questionnaire</span> {{vm.questionnaire.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="adapGatewayApp.questionnaire.title">Title</span></dt>
        <dd>
            <span>{{vm.questionnaire.title}}</span>
        </dd>
        <dt><span translate="adapGatewayApp.questionnaire.status">Status</span></dt>
        <dd>
            <span>{{vm.questionnaire.status}}</span>
        </dd>
        <dt><span translate="adapGatewayApp.questionnaire.lastmodifiedby">Lastmodifiedby</span></dt>
        <dd>
            <span>{{vm.questionnaire.lastmodifiedby}}</span>
        </dd>
    </dl>

 <div ng-repeat="questiongroup in vm.questiongroup track by questiongroup.id">
      <label style="color:red;font-size: 20px;">{{questiongroup.title}}</label>
      <div ng-repeat="question in questiongroup.question">
      <label style="color:#F87217;font-size: 15px;">*{{question.question}}</label>
             <div ng-if="question.type=='5 Point Choice'">
               <div choice></div>
                 <hr>
             </div>
            
            <div ng-if="question.type=='Array'">
               <div array></div>
               <hr>
             </div>
             
            <div ng-if="question.type=='Choice with Comments'">
               <div multiblechoice></div>
                 <hr>
             </div>
             
             <div ng-if="question.type=='Text'">
               <div text></div>
               <hr>
             </div>
                         
             
             
      </div>       
 </div>

 
      
      <button type="submit"  ng-click="vm.saveAnswer()" class="btn btn-success pull-right">Save Answers</button>
 

			
    
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
