<div>
    <h2 translate="adapGatewayApp.response.home.title">Responses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="response.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="adapGatewayApp.response.home.createLabel">
                        Create new Response
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'adapGatewayApp.response.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="details"><span translate="adapGatewayApp.response.details">Details</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="adapGatewayApp.response.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifiedby"><span translate="adapGatewayApp.response.lastmodifiedby">Lastmodifiedby</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastmodifieddatetime"><span translate="adapGatewayApp.response.lastmodifieddatetime">Lastmodifieddatetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="domain">User<span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="questionnaire.id"><span translate="adapGatewayApp.response.questionnaireid">Questionnaireid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="questionnaire.title"><span translate="adapGatewayApp.response.questionnaire">Questionnaire</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="response in vm.responses track by response.id">
                    <td><a ui-sref="response-detail({id:response.id})">{{response.id}}</a></td>
                    <td>{{response.details}}</td>
                    <td>{{response.status}}</td>
                    <td>{{response.lastmodifiedby}}</td>
                    <td>{{response.lastmodifieddatetime | date:'medium'}}</td>
                    <td>{{response.username}}</td>
                    <td>
                        <a ui-sref="questionnaire-detail({id:response.questionnaire.id})">{{response.questionnaire.id}}</a>
                    </td>
                     <td>
                        <a ui-sref="questionnaire-detail({id:response.questionnaire.id})">{{response.questionnaire.title}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="response-detail({id:response.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="response.edit({id:response.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="response.delete({id:response.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
