<div>
    <h2 data-translate="adapGatewayApp.requestprojectmbr.home.title">Requestprojectmbrs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="requestprojectmbr.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="adapGatewayApp.requestprojectmbr.home.createLabel">
                        Create new Requestprojectmbr
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'adapGatewayApp.requestprojectmbr.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="adapGatewayApp.requestprojectmbr.comment">Comment</span></th>
                    <th><span data-translate="adapGatewayApp.requestprojectmbr.status">Status</span></th>
                    <th><span data-translate="adapGatewayApp.requestprojectmbr.lastmodifiedby">Lastmodifiedby</span></th>
                    <th><span data-translate="adapGatewayApp.requestprojectmbr.lastmodifieddatetime">Lastmodifieddatetime</span></th>
                    <th><span data-translate="adapGatewayApp.requestprojectmbr.domain">Domain</span></th>
                    <th><span data-translate="adapGatewayApp.requestprojectmbr.requestlhs">Requestlhs</span></th>
                    <th><span data-translate="adapGatewayApp.requestprojectmbr.projectrhs">Projectrhs</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="requestprojectmbr in vm.requestprojectmbrs track by requestprojectmbr.id">
                    <td><a ui-sref="requestprojectmbr-detail({id:requestprojectmbr.id})">{{requestprojectmbr.id}}</a></td>
                    <td>{{requestprojectmbr.comment}}</td>
                    <td>{{requestprojectmbr.status}}</td>
                    <td>{{requestprojectmbr.lastmodifiedby}}</td>
                    <td>{{requestprojectmbr.lastmodifieddatetime | date:'medium'}}</td>
                    <td>{{requestprojectmbr.domain}}</td>
                    <td>
                        <a ui-sref="request-detail({id:requestprojectmbr.requestlhs.id})">{{requestprojectmbr.requestlhs.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="project-detail({id:requestprojectmbr.projectrhs.id})">{{requestprojectmbr.projectrhs.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="requestprojectmbr-detail({id:requestprojectmbr.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="requestprojectmbr.edit({id:requestprojectmbr.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="requestprojectmbr.delete({id:requestprojectmbr.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
