<style>
.link-tools .tool-remove {
	display: none
}
</style>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>{{vm.scenario.name}}</h2>
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a>Scenarios</a></li>
			<li class="active"><strong>Scenario Detail</strong></li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">
	<div class="row animated fadeInRight">
		<div class="col-md-8">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<a class="btn btn-white btn-xs pull-right"
						ui-sref="edit-attacktree({id:vm.scenario.id})">Edit Attack
						Tree</a>
					<h5>Attack Tree Detail</h5>
				</div>
				<div>
					<div class="ibox-content no-padding border-left-right">
						<div id="paper"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="ibox">
				<div class="ibox-content">
					<div class="row">
						<div class="m-b-md">
							<a class="btn btn-white btn-xs pull-right"
								ui-sref="scenario-detail.edit({id:vm.scenario.id})">Edit
								Scenario</a>
							<h2>{{vm.scenario.name}}</h2>
						</div>
						<dl class="dl-horizontal">
							<dt>
								<span translate="adapGatewayApp.scenario.name">Name</span>
							</dt>
							<dd>
								<span>{{vm.scenario.name}}</span>
							</dd>
							<dt>
								<span translate="adapGatewayApp.scenario.nameshort">Nameshort</span>
							</dt>
							<dd>
								<span>{{vm.scenario.nameshort}}</span>
							</dd>
							<dt>
								<span translate="adapGatewayApp.scenario.description">Description</span>
							</dt>
							<dd>
								<span>{{vm.scenario.description}}</span>
							</dd>
							<dt>
								<span translate="adapGatewayApp.scenario.isabstract">Isabstract</span>
							</dt>
							<dd>
								<span>{{vm.scenario.isabstract}}</span>
							</dd>
							<dt>
								<span translate="adapGatewayApp.scenario.status">Status</span>
							</dt>
							<dd>
								<span>{{vm.scenario.status}}</span>
							</dd>
							<dt>
								<span translate="adapGatewayApp.scenario.lastmodifiedby">Lastmodifiedby</span>
							</dt>
							<dd>
								<span>{{vm.scenario.lastmodifiedby}}</span>
							</dd>
							<dt>
								<span translate="adapGatewayApp.scenario.lastmodifieddatetime">Lastmodifieddatetime</span>
							</dt>
							<dd>
								<span>{{vm.scenario.lastmodifieddatetime |
									date:'medium'}}</span>
							</dd>
							<dt>
								<span translate="adapGatewayApp.scenario.domain">Domain</span>
							</dt>
							<dd>
								<span>{{vm.scenario.domain}}</span>
							</dd>
							<dt>
								<span translate="adapGatewayApp.scenario.recordtype">Recordtype</span>
							</dt>
							<dd>
								<a ui-sref="recordtype-detail({id:vm.scenario.recordtype.id})">{{vm.scenario.recordtype.name}}</a>
							</dd>
							<dt>
								<span translate="adapGatewayApp.scenario.category">Category</span>
							</dt>
							<dd>
								<span ng-repeat="category in vm.scenario.categories"> <a
									ui-sref="category-detail({id: category.id})">{{category.name}}</a>{{$last
									? '' : ', '}}
								</span>
							</dd>
							<dt>
								<span translate="adapGatewayApp.scenario.subcategory">Subcategory</span>
							</dt>
							<dd>
								<span ng-repeat="subcategory in vm.scenario.subcategories">
									<a ui-sref="subcategory-detail({id: subcategory.id})">{{subcategory.name}}</a>{{$last
									? '' : ', '}}
								</span>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- 
	<div class="row">
		<div class="col-lg-7">
			<h2>
				<span translate="adapGatewayApp.scenario.detail.title">Scenario</span>
				{{vm.scenario.id}}
			</h2>
		</div>
		<div class="col-lg-2">
			<a ui-sref="edit-attacktree({id:vm.scenario.id})">
				<button class="btn btn-success">Edit Attack Tree</button>
			</a>
		</div>
		<div class="col-lg-1">
			<button class="btn btn-primary" ng-click="vm.openScenarioModal()">Save
				AS</button>
		</div>
		<div class="col-lg-2">
			<button class="btn btn-danger" ng-click="vm.cancel()">Cancel</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9">
			<div id="paper"></div>
		</div>
		<div class="col-lg-2">
			<div class="row">
				<a ui-sref="scenario-detail.edit({id:vm.scenario.id})">
					<button class="btn pull-right btn-primary">Edit Scenario</button>
				</a>
			</div>
			<div class="row">
				<dl class="dl-horizontal jh-entity-details">
					<dt>
						<span translate="adapGatewayApp.scenario.name">Name</span>
					</dt>
					<dd>
						<span>{{vm.scenario.name}}</span>
					</dd>
					<dt>
						<span translate="adapGatewayApp.scenario.nameshort">Nameshort</span>
					</dt>
					<dd>
						<span>{{vm.scenario.nameshort}}</span>
					</dd>
					<dt>
						<span translate="adapGatewayApp.scenario.description">Description</span>
					</dt>
					<dd>
						<span>{{vm.scenario.description}}</span>
					</dd>
					<dt>
						<span translate="adapGatewayApp.scenario.isabstract">Isabstract</span>
					</dt>
					<dd>
						<span>{{vm.scenario.isabstract}}</span>
					</dd>
					<dt>
						<span translate="adapGatewayApp.scenario.status">Status</span>
					</dt>
					<dd>
						<span>{{vm.scenario.status}}</span>
					</dd>
					<dt>
						<span translate="adapGatewayApp.scenario.lastmodifiedby">Lastmodifiedby</span>
					</dt>
					<dd>
						<span>{{vm.scenario.lastmodifiedby}}</span>
					</dd>
					<dt>
						<span translate="adapGatewayApp.scenario.lastmodifieddatetime">Lastmodifieddatetime</span>
					</dt>
					<dd>
						<span>{{vm.scenario.lastmodifieddatetime | date:'medium'}}</span>
					</dd>
					<dt>
						<span translate="adapGatewayApp.scenario.domain">Domain</span>
					</dt>
					<dd>
						<span>{{vm.scenario.domain}}</span>
					</dd>
					<dt>
						<span translate="adapGatewayApp.scenario.recordtype">Recordtype</span>
					</dt>
					<dd>
						<a ui-sref="recordtype-detail({id:vm.scenario.recordtype.id})">{{vm.scenario.recordtype.name}}</a>
					</dd>
					<dt>
						<span translate="adapGatewayApp.scenario.category">Category</span>
					</dt>
					<dd>
						<span ng-repeat="category in vm.scenario.categories"> <a
							ui-sref="category-detail({id: category.id})">{{category.name}}</a>{{$last
							? '' : ', '}}
						</span>
					</dd>
					<dt>
						<span translate="adapGatewayApp.scenario.subcategory">Subcategory</span>
					</dt>
					<dd>
						<span ng-repeat="subcategory in vm.scenario.subcategories">
							<a ui-sref="subcategory-detail({id: subcategory.id})">{{subcategory.name}}</a>{{$last
							? '' : ', '}}
						</span>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="scenariomodal" tabindex="-1" role="dialog"
	aria-labelledby="myResultLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="editForm" role="form" novalidate ng-submit="create()">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="clear()">&times;</button>
					<h4 class="modal-title" id="myResultLabel">Save As</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Id</label> <input type="text" class="form-control"
							name="id" readonly="readonly" ng-model="vm.newscenario.id">

					</div>
					<div class="form-group">
						<label>Name</label> <input type="text" class="form-control"
							name="name" ng-model="vm.newscenario.name">

					</div>
					<div class="form-group">
						<label>NameShort</label> <input type="text" class="form-control"
							name="nameshort" ng-model="vm.newscenario.nameshort">

					</div>
					<div class="form-group">
						<label translate="adapGatewayApp.scenario.recordtype"
							for="field_recordtype">Recordtype</label> <select
							class="form-control" id="field_recordtype" name="recordtype"
							ng-model="vm.newscenario.recordtype"
							ng-options="recordtype as recordtype.name for recordtype in vm.recordtypes track by recordtype.id"
							ng-change="vm.getCategories(vm.scenario.recordtype.id)">
							<option value=""></option>
						</select>
					</div>
					<div class="form-group">
						<label translate="adapGatewayApp.scenario.category"
							for="field_category">Category</label> <select
							class="form-control" id="field_category" multiple name="category"
							ng-model="vm.newscenario.categories"
							ng-options="category as category.name for category in vm.categories track by category.id"></select>
					</div>
					<div class="form-group">
						<label translate="adapGatewayApp.scenario.subcategory"
							for="field_subcategory">Subcategory</label> <select
							class="form-control" id="field_subcategory" multiple
							name="subcategory" ng-model="vm.newscenario.subcategories"
							ng-options="subcategory as subcategory.name for subcategory in vm.subcategories track by subcategory.id"></select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="vm.closescenariomodal()">
						<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
							translate="entity.action.cancel">Cancel</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid"
						class="btn btn-primary" ng-click="vm.saveNewScenario()">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span
							translate="entity.action.save">Save</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 
    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="scenario-detail.edit({id:vm.scenario.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
    -->
<!-- 
</div>
-->